@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,500&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
 
::-webkit-scrollbar {
    width: 7px;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background-color: #e5c09d;
    border-radius: 10px;
}

body{
    background-color:#1c1c1c;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow-x: hidden;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

#interface{
    display: none;
}

.loading{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #292828;
    justify-content: center;
    align-items: center;
}

@keyframes load {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(100%);
    }
}

.loading div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    background-color: #e5c09d;
    animation: load 0.7s ease-in-out infinite alternate;
    z-index: 100;
    overflow: hidden;
}

.loading div:nth-child(1){
    animation-delay: -0.4s;
    background-color: #fff;
}
.loading div:nth-child(2){
    animation-delay: -0.2s;
    background-color: #979292;
   
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    height: 15vh;
    display: block;
    background: rgba(54,54,54, 0.654);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.411);
}

.principal{
    margin-top: 16vh;
    height: 90%;
}

.principal a:hover{
    transform: translateY(-3px);
    transition-duration: 1s;
    filter: contrast(1.3);
}

.navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
    width: 100%;
}

.nav-logo{
    width: 20%;
}

.logo img{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 30px;
    
}

.menu a {
    color: #fff;
    transition: 0.3s;
    font-size: 0.9em;
    padding-right: 10px;
}

.menu a:hover{
    color: #e5c09d;
}

#menu-toggle, .menu-btn{
    display: none;
}


section{
    text-align: left;
    min-height: 40vh;
}

section h3{
    padding-bottom: 2vh;
    text-align: center;
    font-size: 2.3em;
}

#home{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../assets/imagens/fundo.jpg);
    position: relative;
}
  
#home h1{
    color: #fff;
    font-size: 4.5em;
    font-weight: 400;
    padding-bottom: 7px;
    color: #e5c09d;

}

#home h1:hover{
    color: #e5c09d;
}

#home h2{
    color: #e5c09d;
    font-weight: 200;
    text-align: left;
    width: 70%;
    padding-bottom: 5px;
}

.sessao-a-texto p{
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 30px;
    width: 80%;
}

.sessao-a-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 75%;
    height: auto;
    align-items: flex-start;
    margin: 0 5%;
}

.btn-contatos{
    display: block;
    padding: 10px;
    background-color: #e5c09d;
    width: 55px;
}
.btn-contatos img{
    padding: 15px 0;
}

.btn-contatos img:hover{
    transform: rotate(45deg);
}

.aside{
    display: block;
    float: right;
    width: 40px;
    right: 0;
    height: 100%;
    padding: 0;
    position: fixed;
    z-index: 10;
    margin-right: 2%;
}

.aside a{
    writing-mode: vertical-rl;
    font-size: 0.8em;   
    padding: 2% 0;
    height: 50%;
    text-align: center;
    color: #fff;
}

.aside::before, .aside::after{
    content: "";
    display: block;
    width: 2px;
    height: 25%;
    margin-left: 8px;
    background-color: #e5c09d;
}

.scroll-down{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    color: #fff;
    margin-bottom: 4%;
}

.scroll-down img{
    filter: invert(1);
    padding: 10px;
    animation: scroll-down 3s infinite forwards;
}

.btn-sessao-projetos{
    display: flex;
    width: 240px;
    border: 2px solid #fff;
    background-image: linear-gradient( to left, #e5c09d, #979292);
    padding: 12px;
    color: #000;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 25px;
}

.btn-sessao-projetos:hover{
    transform: translateY(-3px);
    transition-duration: 1s;
}

#sobre-mim {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    padding-top: 60px;
    padding-bottom: 80px;
    margin: 0 5% 0 10%;
}

.sessao-b-texto{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #e5c09d;
    color: black;
    padding: 50px 150px 50px 80px;
    line-height: 1.4;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;

}

.sessao-b-texto h3{
    text-align: left;
    font-size: 1.5em;
}

.sessao-b-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    position: absolute;
    margin-left: 48%;
}

.sessao-b-img img{
    width: 80%;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid white;
}

.sessao-b-texto a{
    margin-top: 3%;
    display: block;
    border: 1px solid #000;
    background-image: linear-gradient( to left, #e5c09d, #979292);
    padding: 12px;
    width: 50%;
    color: #000;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;  
    font-size: 0.9em;
}

.sessao-b-texto a img{
    animation: scroll-down 2s infinite;
}

#habilidades{
	background-color: #292828;
	transform: skewY(-2deg);
    padding: 50px 5px;
}

.sessao-c-content{
    width: 100%;
    margin: 0;
    padding: 50px;
    transform: skewY(2deg);
}

.sessao-c-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

figcaption{
    padding-top: 20px;
    font-weight: 400;
}

.sessao-c-habilidades img{
    width: 104px;
    padding: 8px;
    transition: 0.5s;
    filter: sepia(1);
}

.sessao-c-habilidades img:hover{
  transform: scale(1.3);
  filter: sepia(0);
}

#projetos{
    padding-top: 5rem;
    margin-bottom: 80px;
}

.projetos{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

.videos{
    width: 354px;
    height: 210px;
} 

.conteudo-projeto{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.conteudo-projeto video{
    width: 100%;
    height: 100%;
 
}

.conteudo-projeto video:hover{
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 1s;
}

.conteudo-projeto h4{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
}
.conteudo-projeto p{
    border-top: 1px solid #fff;
    padding: 10px 5px 0px;
}

.btn-projetos{
    margin-top: 4%;
    display: block;
    border: 2px solid #fff;
    background-image: linear-gradient( to left, #e5c09d, #979292);
    padding: 12px;
    width: 50%;
    color: #000;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;  
    font-size: 0.9em;
    display: flex;
    flex-direction: row-reverse;
   justify-content: space-evenly;
}

.btn-projetos img{
    width: 18px;
}

.ajuste-centro{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 5px;
}

.habilidades-mini{
    display: flex;
    gap: 15%;
}

.habilidades-mini img{
     width: 32px;
}

#rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    bottom: 0;
    font-weight: 400;
    width: 100%;
    gap: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.redes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#rodape p{
    width: 80%;
    color: #fff;
    font-weight: 300;
    font-size: 0.8em;
}

#rodape img{
    filter: invert(1);
}

#rodape img:hover{
    transform: rotate(45deg);
  
}


@keyframes scroll-down{
    0% {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 5px, 0);
    }
}




