@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,500&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow-x: hidden;
    font-size: 20px;
    font-weight: 300;
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    height: 15%;
    display: block;
    background-color:#343434;
    border-bottom: 1px solid rgba(255, 255, 255, 0.411);
}

.principal{
    margin-top: 8%;
    height: 90%;
}
.navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vh;
    width: 100%;
}

.nav-logo{
    width: 20%;
}

.logo img{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 0;
}

.menu a {
    color: #fff;
    transition: 0.3s;
    font-size: 0.9em;
}

.menu a:hover{
    color: #e5c09d;
}

section{
    text-align: left;
}

.sessao h3{
    padding-bottom: 20px;
    text-align: center;
}

.background-image{
    display: none;
    width: 100%;
    margin: 0;

    height: 100vh;
}

.background-image img{
    width: 100%;
    height: 50vh;
    opacity: 0.3;
}

#sessao-a{
    width: 100%;
    height: 85vh;
    display: flex;
}

#triangulo{
    display: block;
    float: right;
    line-height:0;
    width:20px;
    height:80px;
    border-style: solid;
    border-color: transparent transparent transparent #e5c09d;
    border-width: 360px 280px;
    transform: rotate(180deg);
    right: 0;
    top: 0;
    position: absolute;
    }

.sessao-a-texto{
    width: 100%;
    padding-top: 8%;
    margin-left: 5%;
}   
#sessao-a h1{
    color: #fff;
    font-size: 5em;
    font-weight: 400;
    opacity: 2;
}

#sessao-a h2{
    color: #e5c09d;
    font-weight: 200;
}

#sessao-a p{
    font-size: 2em;
    font-weight: 300;
}

.btn-contatos{
    display: flex;
    gap: 8%;
    width: 50%;
    margin-top: 3%;
}

.btn-meus-contatos{
    margin-top: 20px;
    border: 2px solid #fff;
    background-image: linear-gradient( to left, #e5c09d, #979292);
    padding: 12px;
    width: 50%;
    color: #000;
    font-weight: 400;
    border-radius: 25px;
    text-align: center;
}

.btn-meus-contatos img{
    display: block;
    float: left;
}


.sessao h3{
    font-size: 2.3em;
}

#sessao-b {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
    margin-bottom: 80px;
}

.sessao-b-texto{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #e5c09d;
    color: black;
    padding: 60px 180px 50px 80px;
    line-height: 1.4;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20%;
}

.sessao-b-texto h3{
    text-align: left;
}

.sessao-b-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: absolute;
    margin-right: -47%;
}

.sessao-b-img img{
    width: 90%;
    padding: 5px;
}

.sessao-b-texto a{
    margin-top: 3%;
    display: block;
    border: 1px solid #000;
    background-image: linear-gradient( to left, #e5c09d, #979292);
    padding: 12px;
    width: 50%;
    color: #000;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;  
    font-size: 0.9em;
}

#sessao-c{
	background-color: #343434;
	transform: skewY(-2deg);
    padding: 50px 5px;
}

.sessao-c-content{
    width: 100%;
    margin: 0;
    padding: 50px;
    transform: skewY(2deg);
}

.sessao-c-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

figcaption{
    padding-top: 20px;
    font-weight: 400;
}

.sessao-c-habilidades img{
    width: 104px;
    padding: 8px;
    transition: 0.5s;
    filter: sepia(1);
}

.sessao-c-habilidades img:hover{
  transform: scale(1.3);
  filter: sepia(0);
}

#sessao-d{
    margin-top: 60px;
    margin-bottom: 80px;
}

.projetos{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

.videos{
    width: 354px;
    height: 210px;
} 

.conteudo-projeto{
    display: flex;
    flex-direction: column;
}

.conteudo-projeto video{
    width: 100%;
    height: 100%;
}

.conteudo-projeto h4{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
.conteudo-projeto p{
    padding: 10px 5px 0px;
}

.conteudo-projeto a{
    margin-top: 3%;
    display: block;
    border: 2px solid #fff;
    background-image: linear-gradient( to left, #e5c09d, #979292);
    padding: 12px;
    width: 50%;
    color: #000;
    font-weight: 400;
    border-radius: 25px;
    text-align: center;  
    font-size: 0.9em;
    display: flex;
    flex-direction: row-reverse;
   justify-content: space-evenly;
}

.conteudo-projeto a img{
    width: 18px;
}

.ajuste-centro{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 5px;
}

.habilidades-mini{
    display: flex;
    gap: 15%;
}

.habilidades-mini img{
     width: 32px;
}

#rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    flex-shrink: 0;
    bottom: 0;
    background-color: #e5c09d;
    color: #000;
    font-weight: 400;
    width: 100%;
}

#rodape p{
    width: 50%;
}

#rodape img:hover{
    transform: rotate(45deg);
}
